{{> head}}
{{> navbar}}
    <div class="row">
        <div class="col-6">
            <h1>Reaper Asdas</h1>
            <p>Bienvenido !!</p>
        </div>

        <div class="col-5">
            <img src="assets/img/gow.jpg" class="img-thumbnail">
        </div>
    </div>
{{> footer}}